<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Musicmania</title>
  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" href="static/css/style.css" type="text/css" charset="utf-8" />
</head>
<body>
  <!-- <input type="text" id="searchInput" placeholder="Search...">
  <table id="resultsTable"> -->
    <!-- Table rows will be dynamically added here -->
  <!-- </table> -->
  <!-- <input type="file" id="uploadfile" accept=".csv">
  <button > Upload Confirm</button> -->
<div id="outer">
  <div id="wrapper">
    <div id="header">
      <h1>Musicmania</h1>
    </div>
    <div id="nav">
      <div id="head"></div>
      <div id="head-pip"></div>
      <ul>
        <li id="m1"><a href="#">Latest News</a></li>
        <li id="m2"><a href="#">Music</a></li>
        <li id="m3"><a href="#">About</a></li>
        <li id="m4"><a href="#">Visuals</a></li>
        <li id="m5"><a href="#">Online Stores</a></li>
        <li id="m6"><a href="#">Contact</a></li>
      </ul>
      <div id="search">
        <h2>Search Music in Dataset</h2>
   
        <form action="#">
          <!-- <input type="text" class="text" name="query" value="" id="query" onchange="handleSearch(this.value)" /> -->
          <input type="text" class="text" name="query" value="" id="query" />
          <!-- <input type="submit" name="submit" value="Go &gt; &gt;" id="submit" class="submit" /> -->
        </form>
        <!-- <a href="#">Advanced Search</a> | <a href="#">Search Tips</a> </div> -->
        <table id="resultsTable"></table>
    </div>
    <div id="body">
      <div id="body-inner">
        <div id="body-left">
          <div id="topic-pic"> <img src="static/images/pic_1.jpg" width="259" height="199" alt="Pic 1" /> </div>
        
          <p>The Data Analysis includes the following:</p>
          <ul class="blank">
            <li><a href="https://raw.githubusercontent.com/apanthari/project_4/main/Density%20Vs.%20Song%20Popularity.png"target="_blank">&gt; &nbsp; Density Vs. Song Popularity</a></li>
            <li><a href="https://raw.githubusercontent.com/apanthari/project_4/main/Correlation%20Heat%20Map.png"target="_blank">&gt; &nbsp; Correlation Heat Map</Map></a></li>
            <!-- <li><a href="#">&gt; &nbsp; Folk Collections</a></li>
            <li><a href="#">&gt; &nbsp; Devotional</a></li> -->
          </ul>
          <p>If you're having problems finding a song please don't hesitate to search for music on the <a href="#">Search Music in Dataset</a>.</p>
        </div>
        <div id="body-right">
          <h2>Music Catagories</h2>
          <div class="box"> <img src="static/images/pic_2.jpg" width="130" height="86" alt="Pic 1" class="left" />
            <p>Music Choices <a href="http://www.spotify.com">Spotify Web Player</a>.</p>
            <div class="btns"> <a href="#"><span>Listen</span></a> <a href="#"><span>Add</span></a> </div>
            <div class="clear"></div>
          </div>
          <div class="box"> <img src="static/images/pic_3.jpg" width="130" height="86" alt="Pic 2" class="left" />
            <p>If you are looking for more Music check out <a href="http://www.spotify.com">Spotify</a>.</p>
            <div class="btns"> <a href="#"><span>Listen</span></a> <a href="#"><span>Add</span></a> </div>
            <div class="clear"></div>
          </div>
          <div class="box"> <img src="static/images/pic_4.jpg" width="130" height="86" alt="Pic 3" class="left" />
            <!-- <p>You can remove any link to our websites from this template you're free to use the template without linking back to us.</p> -->
            <div class="btns"> <a href="#"><span>Listen</span></a> <a href="#"><span>Add</span></a> </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div id="copyright">
        <div id="copyright-left"> Copyright &copy; all right reserved | designed by <a href="http://www.freewebsitetemplates.com">Rikin, Maddy, Matt, Anuja, Artur</a></div>
      </div>
      <div class="clear">&nbsp;</div>
    </div>
  </div>
</div>
<script src = "https://d3js.org/d3.v7.min.js"></script>
<script src="static/js/music.js"></script>
</body>
</html>
